<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.jdkshen.aijspro.ui.mcp.MiuixMcpActivity"
            android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.jdkshen.aijspro.ui.mcp.MiuixMcpHistoryActivity"
            android:exported="false" />
        <service android:name="com.jdkshen.aijspro.mcp.McpService"
            android:exported="false" android:stopWithTask="true" />
        <activity android:name="com.jdkshen.aijspro.ui.service.MiuixServiceActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.settings.MiuixSettingsActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.settings.MiuixAboutActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.user.MiuixLoginActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.user.MiuixRegisterActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.doc.MiuixDocumentationActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.log.MiuixLogActivity"
            android:exported="false" />
        <activity android:name="com.jdkshen.aijspro.ui.project.MiuixBuildActivity"
            android:exported="false" android:configChanges="orientation|screenSize" />
    </application>
</manifest>
